<form action="/member" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name">

  <label for="date-of-birth">Date of Birth:</label>
  <input type="text" name="date_of_birth" id="date-of-birth">

  <label for="street">Street:</label>
  <input type="text" name="street" id="street">

  <label for="city">City:</label>
  <input type="text" name="city" id="city">

  <label for="postcode">Postcode:</label>
  <input type="text" name="postcode" id="postcode">

  <label for="phone">Contact Number:</label>
  <input type="text" name="phone" id="phone">

  <input type="submit" value="Save Details">
</form>
