<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/rooms/new">Add Room</a></li>
    <li>
      <form action="/rooms/search" method="post">
        <input type="text" name="search" placeholder="Search Rooms..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

<section>
  <p>Room Name: <%= @room.name %></p>
  <p>Room Capacity: <%= @room.capacity %></p>
  <p><a class="link_button" href="/rooms/<%= @room.id %>/edit">Edit room</a></p>
  <br>
  <form action="/rooms/<%= @room.id %>/delete" method="post">
    <input class="view_button delete" type="submit" value="Delete room">
  </form>
</section>
