<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/gyms/show">View Peak Hours</a></li>
    <li><a href="/presentation">Presentation</a></li>
    <li class="left"><a href="/presentation/end">End</a></li>
  </ul>
</nav>

<section class="presentation-container">
  <p class="welcome">
      Welcome to Agile Fitness
      The gym management app for you
  </p>
</section>
