<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Agile Fitness</title>
  </head>
  <body>
    <nav role="main">
      <ul>
        <li><a href="/">Agile Fitness</a></li>
        <li><a href="/members">Member Management</a></li>
        <li><a href="/gym_classes">Class Management</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <li><a href="/rooms">Rooms</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
