<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Agile Fitness</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Cormorant+Garamond|Francois+One|Lalezar|Varela&display=swap">

    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/side_menu.css">
    <link rel="stylesheet" type="text/css" href="/styles/top_menu.css">
    <link rel="stylesheet" type="text/css" href="/styles/link_buttons.css">
  </head>
  <body>
    <main>
      <nav class="side_nav">
        <ul>
          <li><a href="/">Agile Fitness</a></li>
          <li><a href="/members">Member Management</a></li>
          <li><a href="/instructors">Instructor Management</a></li>
          <li><a href="/rooms">Room Management</a></li>
          <li><a href="/gym_classes">Class Management</a></li>
          <li><a href="/bookings">Bookings</a></li>
        </ul>
      </nav>
      <%= yield %>
    </main>
  </body>
</html>
