<nav class="top_nav">
  <ul class="presentation">
    <li class="right"><a href="/about_us">About Us</a></li>
    <li><a href="/presentation/website_sketch">Website Sketch</a></li>
    <li class="middle"><a href="/presentation">Class Diagram</a></li>
    <li class="left"><a href="/">Welcome</a></li>
  </ul>
</nav>

<section class="diagram class">

</section>
