<nav class="top_nav">
  <ul class="presentation">
    <li class="right"><a href="/about_us">About Us</a></li>
    <li><a href="/presentation/query">Query</a></li>
    <li><a href="/presentation/constraints">Constraints</a></li>
    <li><a href="/presentation/database">Database</a></li>
  </ul>
</nav>

<section class="diagram constraints">

</section>
