<nav class="top_nav">
  <ul class="presentation">
    <li class="right"><a href="/about_us">About Us</a></li>
    <li><a href="/presentation/constraints">Constraints</a></li>
    <li><a href="/presentation/database">Database</a></li>
    <li><a href="/presentation/website_sketch">Website Sketch</a></li>
  </ul>
</nav>

<section class="diagram db">

</section>
