<nav class="top_nav">
  <ul class="presentation">
    <li class="right"><a href="/about_us">About Us</a></li>
    <li class="right"><a href="/">App</a></li>
    <li><a href="/presentation/end">Things I've learnt</a></li>
  </ul>
</nav>

<section class="diagram list">
  <p>Planning well</p>
  <p>CSS</p>
  <p>Git Commit</p>
</section>
