<nav class="top_nav">
  <ul class="presentation">
    <li class="right"><a href="/about_us">About Us</a></li>
    <li><a href="/">Welcome</a></li>
    <li><a href="/presentation/gym">Gym</a></li>
    <li><a href="/presentation/query">Query</a></li>
  </ul>
</nav>

<section class="diagram gym">

</section>
