<nav class="top_nav">
  <ul class="presentation">
    <li class="right"><a href="/about_us">About Us</a></li>
    <li><a href="/">App</a></li>
    <li><a href="/presentation/restful">Keep it RESTful</a></li>
    <li><a href="/presentation/dry">Keep it DRY</a></li>
  </ul>
</nav>

<section class="diagram restful">

</section>
