    <li><a href="/about_us">About Us</a></li>
  </ul>
</nav>

<section>
  <p><%= @booking.member.pretty_name %></p>
  <p><%= @booking.gym_class.type %></p>
  <p><a href="/bookings/<%= @booking.member_id %>">Book another class</a></p>
</section>
