.view_button {
  display: inline-block;
  height: 50px;
  width: 200px;
  background: none;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px;
  background-color: #90EE90;
  color: #000000;
  font-size: 20px;
  font-family: 'Francois One', sans-serif;
  text-align: center;
}

.link_button {
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  background: none;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px;
  background-color: #90EE90;
  color: #000000;
  font-size: 20px;
  font-family: 'Francois One', sans-serif;
  text-align: center;
  text-decoration: none;
}

.delete {
  background-color: #FF6347;
}

.link_button:hover {background-color: #3E8E41}

.link_button:active {
  background-color: #3E8E41;
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
}

.view_button:hover {background-color: #3E8E41}

.view_button:active {
  background-color: #3E8E41;
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
}

.delete:hover {background-color: #FF0000}

.delete:active {
  background-color: #FF0000
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
}
