.view_button {
  display: inline-block;
  height: 50px;
  width: 200px;
  background: none;
  border: none;
  border-radius: 25px;
  background-color: #90EE90;
  color: #000000;
  font-size: 20px;
  font-family: 'Francois One', sans-serif;
  text-align: center;
}

.link_button {
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  background: none;
  border: none;
  border-radius: 25px;
  background-color: #90EE90;
  color: #000000;
  font-size: 20px;
  font-family: 'Francois One', sans-serif;
  text-align: center;
  text-decoration: none;
}

.delete {
  background-color: #FF6347;
}
