.side_nav {
  height: 100%;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #003399, #0099CC);
  overflow: auto;
  z-index: 1; /* Side menu should be top most element */
}

.side_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side_nav li {
  height: 100px;
  position: relative;
  padding: 10px 35px;
  overflow: hidden;
  border-top: 8px solid #FFD700;
  border-bottom: 8px solid #FFFF33;
  border-left: 8px solid #FFD700;
  border-right: 8px solid #FFFF33;
}

.side_nav li:first-child {
  height: 60px;
}

.side_nav li:last-child {
  height: 60px;
}

.side_nav li:before {
  font-family: FontAwesome;
	content:"\f07a";
	position: absolute;
	top: 11px;
	left: -30px;
	transition: all 200ms ease;
}

.side_nav li:hover:before {
	left: 7px;
}

.side_nav a {
  display: inline-block;
  padding: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lalezar', cursive;
  font-size: 25px;
  color: #CCFFCC;
  text-align: center;
  text-decoration: none;
}

.side_nav li:hover {
  background-color: #000000;
}

.side_nav a:hover {
  color: #F1F1F1;
}

/* @media screen and (max-height: 450px) {
  .side_nav {padding-top: 15px;}
  .side_nav a {font-size: 18px;}
} */
