.side_nav {
  height: 100%;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #003399, #0099CC);
  overflow-x: hidden;
  padding-top: 20px;
}

.side_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side_nav li {
  height: 100px;
  position: relative;
  border-bottom: 1px solid #BBB;
}

.side_nav a {
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: 'Alfa Slab One', cursive; */
  font-family: 'Lalezar', cursive;
  font-size: 25px;
  color: #CCFFCC;
  text-align: center;
}

.side_nav li:hover {
  background-color: #000000;
}

.side_nav a:hover {
  color: #F1F1F1;
}

/* @media screen and (max-height: 450px) {
  .side_nav {padding-top: 15px;}
  .side_nav a {font-size: 18px;}
} */
