html {
  background: linear-gradient(to bottom right, #0099CC, #F1F1F1);
  background-attachment: fixed;
}

section {
  padding: 10px;
  padding-top: 50px;
  margin-left: 180px; /* Keep contents away from side nav */
}

p {
  padding-left: 10px;
  font-size: 20px;
}

input {
  /* opacity: 0.4; */
  background: none;
  color: #000000;
  font-size: 20px;
}
