.top_nav {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.top_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.top_nav li {
  float: right;
  display: inline;
  border-left: 1px solid #BBBBBB;
}

.top_nav a {
  display: block;
  padding: 8px;
  font-size: 20px;
  font-family: 'Alfa Slab One', cursive;
  color: #FFFFFF;
  text-align: center;
  padding: 14px, 16px;
}

.top_nav a:hover {
  background-color: #111111;
}
