.top_nav {
  top: 0;
  width: 100%;
  position: fixed;
}

.top_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333333;
}

.top_nav li {
  float: right;
  display: inline;
  border-left: 1px solid #BBBBBB;
}

.top_nav a {
  display: block;
  padding: 8px;
  font-size: 20px;
  font-family: 'Alfa Slab One', cursive;
  color: #FFFFFF;
  text-align: center;
  padding: 14px, 16px;
}

.top_nav a:hover {
  background-color: #111111;
}

.top_nav .search-container {
  float: right;
}

.top_nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  color: #FFFFFF;
}

.top_nav button {
  background-color: #333333;
  border: none;
}

.fa-search {
  font-size: 30px;
  background: #333333;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
