<nav class="top_nav">
  <ul>
    <li><a href="/instructors/new">Add Instructor</a></li>
  </ul>
</nav>

<section>
  <% @instructors.each do |instructor| %>
  <p><%= instructor.pretty_name %></p>
  <p><a href="/instructors/<%= instructor.id %>">Show details</a></p>
  <hr>
  <% end %>
</section>
