<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/instructors/new">Add Instructor</a></li>
    <li>
      <form action="/instructors/search" method="post">
        <input type="text" name="search" placeholder="Search Instructors..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

<section>
  <% @instructors.each do |instructor| %>
  <p>Instructor Name: <%= instructor.pretty_name %></p>
  <p><a class="link_button" href="/instructors/<%= instructor.id %>">Show details</a></p>
  <hr>
  <% end %>
</section>
