    <li><a href="/about_us">About Us</a></li>
  </ul>
</nav>

<section>
  <p><%= @instructor.pretty_name %></p>
  <p><a href="/instructors/<%= @instructor.id %>/edit">Edit details</a></p>
  <p>
    <form action="/instructors/<%= @instructor.id %>/delete" method="post">
      <input type="submit" value="Delete Instructor">
    </form>
  </p>
</section>
