<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/instructors/new">Add Instructor</a></li>
    <li>
      <form action="/instructors/search" method="post">
        <input type="text" name="search" placeholder="Search Instructors..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

<section>
  <p>Instructor Name: <%= @instructor.pretty_name %></p>
  <p><a href="/instructors/<%= @instructor.id %>/edit">Edit details</a></p>
  <br>
  <form action="/instructors/<%= @instructor.id %>/delete" method="post">
    <input class="view_button delete" type="submit" value="Delete Instructor">
  </form>
</section>
